attrs
cmake
data
easygui
entrypoints
Flask
gunicorn
h5py
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-resource-usage
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
Keras
Keras-Applications
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing
Markdown
MarkupSafe
matplotlib
matplotlib-inline
netaddr
netifaces
nltk
notebook
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
package-name
packaging
pandas
Pillow
pipreqs
pyOpenSSL
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
setuptools-git
shutilwhich
tempdir
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-gpu
tensorflow-estimator
tksheet
toml
urllib3==1.26.4
websocket-client
Werkzeug
wordcloud
wrapt
yarg
