cmake
Flask
gunicorn
h5py
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-resource-usage
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
Keras
Keras-Applications
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing
matplotlib
matplotlib-inline
nltk
notebook
numpy
opencv-contrib-python
opencv-python
pandas
Pillow
requests
scikit-learn
scipy
seaborn
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-gpu
tensorflow-estimator
Werkzeug
wordcloud
